* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
